<%= render "shared/form_container", heading: "Log In", ftype: "login" do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-outline mb-2" >
      <%= f.email_field :email, autofocus: true, class: 'form-control form-control', placeholder: "Email Address" %>
    </div>

    <div class="form-outline mb-2">
      <%= f.password_field :password, class: 'form-control form-control', placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check d-flex justify-content-center mb-3">
        <%= f.check_box :remember_me, class: 'form-check-input me-2' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <%= f.submit "Log in", class:"btn btn-outline-success" %>
    </div>
  <% end %>
<% end %>

